.custom-line-height {
    line-height: 2.9; 
}

.signature {
    padding-left: 60%;
    height: 131px;
    width: 30%;
    margin-top: -122px;
  }
  
  #sign {
    stroke-dasharray: 2350;
    stroke-dashoffset: 2350;
    animation: animate 2s ease-in forwards;
  }
  
  .jl{
    width: 74%;
    height: 165px;
  }

  
  .fondu {
    position: relative;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #ffffff;
    
    -webkit-background-clip: text;
    background-clip: text;
    opacity: 0;
    animation: fadeIn 10s forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .rounded-left-custom {
    border-radius: 0.50rem 0 0 0.50rem; 
  }

  .btn-transition {
    position: absolute;
    margin-left: 255px;
    margin-top: 137px;
    transition: margin-left 0.3s ease; 
  }
  
  .btn-transition:hover {
    margin-left: 360px;
  }

  .moving-element {
    position: absolute;
    width: 30px;
    height: 69px;
    border-radius: 50%;
    transition: transform 1s ease;
   
  }

  .github{
    margin-left: 76px;
  }
  