.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;  /* Centre horizontalement */
    align-items: center;      /* Centre verticalement */
    z-index: 1000;
  }

  .modal-close {
    position: absolute;
    top: 176px;
    right: 640px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modal-close:hover {
    color: #ccc;
  }